*{
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}

.test{
    margin: auto;
    width: 960px;
    background-color: #93D5D1;
    
}
.gambar{
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

.noenter{
     margin-top: 2px;
    margin-bottom: 2px;
}
.row{
  
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 5px solid silver;
    margin-bottom: 20px;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.66%;
}

.col-6{
    width: 50%;
    margin-left: 20px;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66;
}

.col-12{
    width: 100%:
}